html {
    height: 100%;
}

body {
    background-color: lightgreen;
    font-family: 'Josefin Sans';
}

.header {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 auto 0 auto;
}

.header .test {
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 70px;
    font-size: 45px;
    transition: all .5s ease;
}

.test:hover {
    color: black;
    text-shadow: 2px 2px white, 3px 3px black, 4px 4px white, 5px 5px black;
}

.header .nav {
    align-self: center;
}

.header .nav .nav-link {
    display: inline-block;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 20px;
    margin-right: 25px;
    transition: all .5s ease;
}

.header .nav .nav-link:hover {
    color: black;
    text-shadow: 1px 1px white, 3px 3px 3px white, 4px 4px 3px black;
}

.first {
    height: 300px;
}

.second {
    text-align: center;
}

.third {
    height: 350px;
}

.second h1 {
    font-family: 'Josefin Sans';
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px black, 3px 3px white, 4px 4px 5px black;
}

/*ABOUT STYLES*/

.content-1 {
    margin: 20px;
    margin-top: 35px;
    transition: all .7s ease;
}

.content-1:hover {
    background-color: lightblue;
    padding: 15px;
    border-radius: 8px;
    border: 1px black solid;
}

.content-1 .left {
    display: inline-block;
}

.left .content-img {
    height: 350px;
}

.content-1 .right {
    float: right;
    width: 37%;
    margin-top: 6%;
    margin-right: 25px;
    text-align: center;
}

.content-2 {
    margin: 20px;
    margin-top: 35px;
    transition: all .6s ease;
}

.content-2:hover {
    background-color: lightblue;
    padding: 15px;
    border: 1px black solid;
    border-radius: 8px;
}

.content-2 .left {
    float: left;
    width: 37%;
    margin-top: 5%;
    text-align: center;
}

.content-2 .right {
    display: flex;
    justify-content: flex-end;
}

.right .content-img {
    height: 350px;
    float: right;
}

.footer {
    display: flex;
    justify-content: center;
    width: 45%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    background-color: lightblue;
    border-radius: 8px;
    border: 1px solid black;
}

.footer-logos {
    font-size: 40px;
}

.footer-logos a i {
    color: black;
    transition: all .5s ease;
}

.footer-logos a i:hover {
    text-shadow: 2px 2px white;
}

/*CONTACT STYLES*/

.google-map {
    text-align: center;
    margin-top: 30px;
}